<div id = "container">
    
    <div id="fundraisers">
        
        <img src="assets/img/icons8-back-90.png" routerLink="../" width="50px" height="50px">
        <h1 style="background-color: #0D1B31;">Zbiórka A</h1><!--uzupełniaj z bazy-->
        <p>Dane:</p>
       <div>Wpłaciło 14/21 osób</div><!--grupa z bazy--> <div>Kwota na osobę:2zł</div><!--kwota z bazy-->                  <div> Zebrano: 28zł/42zł</div><!--niech springboot to liczy-->
        <div id="line"></div>
        <p>Wpłaciłi(y):</p><!--generuj z bazy-->
        
        <p class="people" style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input  *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people" style="background-color:  #0A1C38;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
        <p class="people"style="background-color: #071C3E;"> Carlos <input *ngIf="treasurer as true" type="checkbox" name="people" class="people"></p>
             
    </div>
</div>
