#container{
    padding-bottom: 80px;
    position:absolute;
    color: white;
    position:absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    clear: both;
}

h4{
    background-color: rgba(3, 3, 43, 0.566);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

h1{
    text-align: center;
}

h3{
    background-color: rgba(17, 17, 52, 0.566);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px rgb(23, 23, 66);
}

img:first-child{
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    position: sticky;
}

label{
    background-color: rgba(55, 55, 96, 0.566);
    width: 46%;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgb(23, 23, 66);
    padding: 1%;
}

p{
    float: left;
    width: auto;
    margin: 0;
    padding-left: 1%;
}

mat-checkbox{
    float: right;
    margin-top: 0.5%;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
}
