<div id = "container">
    
        
        <img src="assets/img/icons8-back-90.png" routerLink="/treasurer" width="50px" height="50px">
        <h1>Zbiórka A</h1><!--uzupełniaj z bazy-->
        <h4>Wpłaciło 14/21 osób<!--grupa z bazy--><br>Kwota na osobę:2zł<!--kwota z bazy--><br>Zebrano: 28zł/42zł</h4><!--niech springboot to liczy-->
        <h3>Nie wpłacili:</h3><!--generuj z bazy-->
        
        <form action="" method="get">
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <label><p>Wierzchosława <br> Roztworowska</p><mat-checkbox *ngIf="treasurer as true" [checked]="false" [color]="color"></mat-checkbox></label>
            <br><button *ngIf="treasurer as true" mat-raised-button color="primary" type="submit">Dodaj</button>
        </form>
</div>
