<div class="box" routerLink="/each"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="400"
    [matRippleColor]="color">
    <h3>Lorem Ipsum</h3>
    <ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui ut ornare lectus. Faucibus scelerisque eleifend donec pretium vulputate. Massa ultricies mi quis hendrerit dolor magna eget. Ut sem nulla pharetra diam sit amet nisl. Lacus sed viverra tellus in hac habitasse platea dictumst. Vel fringilla est ullamcorper eget. A lacus vestibulum sed arcu non odio euismod lacinia. Eget nunc scelerisque viverra mauris in. Est placerat in egestas erat imperdiet sed euismod. Integer enim neque volutpat ac. Laoreet non curabitur gravida arcu ac. Vivamus arcu felis bibendum ut tristique et. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.</p>
    </ul>
</div>