<div id = "container">
    <div id="add-announcement">
    <img src="assets/img/icons8-back-90.png" routerLink="/announcements"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    <!--Dodawanie nowego ogłoszenia-->
    <h2>Dodaj ogłoszenie</h2>
    <form action="" method="get">
        <mat-form-field class="formfield">
            <mat-label>Temat</mat-label>
            <input matInput>
          </mat-form-field>         
        <mat-form-field class="formfield">
          <mat-label>Treść ogłoszenia</mat-label>
          <textarea matInput></textarea>
        </mat-form-field><br>        
      <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </form>
</div></div>