<div id = "container">
    <img src="assets/img/icons8-back-90.png" routerLink="/announcements"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    <!--Dodawanie nowego ogłoszenia-->
    <h2>Tytuł</h2>
    <form action="" method="get">
    <input type="text" [(ngModel)]="announcement.title" name="title" id="title" placeholder="Tytuł Ogłoszenia" required>
    <h2>Treść</h2>
    <textarea id="content" [(ngModel)]="announcement.content" name="content" placeholder="Treść Ogłoszenia " rows="10"></textarea> <br>
    <button type="submit" (click)="addAnnouncement()">Dodaj</button></form>
</div>