<div id = 'nav-box'>
        <div class = 'nav-element' routerLink=""
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-home-96.png" alt="home">Start</p>
        </div>
        <div class = 'nav-element' routerLink="notes"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-open-book-100.png" alt="notes">Notatki</p>
        </div>
        <div class = 'nav-element' routerLink="chat"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-chat-96.png" alt="chat">Czat</p>
        </div>
        <div class = 'nav-element' routerLink="treasurer"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-money-100.png" alt="more">Skarbnik</p>
        </div>
</div>