<div id = 'nav-box'>
        <div class = 'nav-element' routerLink="">
            <p><img src="assets/img/icons8-home-96.png" alt="home">Start</p>
        </div>
        <div class = 'nav-element' routerLink="notes">
            <p><img src="assets/img/icons8-open-book-100.png" alt="notes">Notatki</p>
        </div>
        <div class = 'nav-element' routerLink="chat">
            <p><img src="assets/img/icons8-chat-96.png" alt="chat">Czat</p>
        </div>
        <div class = 'nav-element' routerLink="treasurer">
            <p><img src="assets/img/icons8-money-100.png" alt="more">Skarbnik</p>
        </div>
</div>