<div id = 'nav-box'>
        <div class = 'nav-element' routerLink="" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-home-96.png" alt="home" id="dashboard">Start</p>
        </div>
        <div class = 'nav-element' routerLink="notes" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-open-book-100.png" alt="notes" id="notes">Notatki</p>
        </div>
        <div class = 'nav-element' routerLink="treasurer" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-money-100.png" alt="more">Skarbnik</p>
        </div>
        <div class = 'nav-element' routerLink="more" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="100"
            [matRippleColor]="color">
            <p><img src="assets/img/icons8-menu-100.png" alt="more" id="more">Więcej</p>
        </div>
</div>