#container{
    padding-top: 5%;
    padding-bottom: 80px;
    position:fixed;
    width: 100%;
    z-index: 1;
    height: 100%;
}

#content{
    border-radius: 20px;
    margin: auto;
    width: 90%;
    
    background-color: rgb(28, 28, 93);
    color: white;

    animation-name: slide;
    animation-duration: 5s;
    padding-bottom: 1px;
}
p{
    margin: 20px;
    font-size: medium;
    text-align: justify;
}

img:first-child{
        width: 40px;
        height: 40px;
        position: absolute;
        margin: 5px;
}

h1{
    text-align: center;
    margin-top: 10px;
    width: auto;
    height: auto;
}

/* @keyframes slide{
    from{height: 0;}
    to{height: 100px;}
} */