<div id = "container">
    <div id="content">
        <img src="assets/img/icons8-back-90.png" routerLink="../">
        <h1>Lesson name</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in semper nisl, vitae eleifend metus. Pellentesque ultrices felis ac purus scelerisque ultrices. Integer sit amet gravida nisi. Sed quis odio dapibus, consectetur augue eget, scelerisque dolor. Maecenas vel finibus odio. In sed odio vel risus elementum pulvinar ac pulvinar turpis. In aliquet, mauris sed consequat pharetra, diam sem consequat ligula, eu tristique orci nunc vitae risus. Nulla nec accumsan urna. Maecenas at semper sapien.</p>
    </div>
</div>
