#container{
    width: 100%;
    height: 100%;
    position: fixed;
}

#add-homework{
    position: fixed;
    top: 90px;
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(28, 28, 93);
    z-index: 1;
    padding: 1%;
    animation-name: slide;
    animation-duration: 0.2s;
    text-align: center;
    border: 1px black solid;
    overflow: hidden;
    padding-bottom: 30px;
    color: white;
}

img{
    top: 5px;
    left: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
}

@keyframes slide{
    from{height: 0px;}
    to{height: 350px;}
}