<div id="container">
    <img src="assets/img/icons8-back-90.png" routerLink="../homeworks">
    <h1>Wybierz swoich kandydatów</h1>
    <form action="">
    <h2>Przewodniczący</h2>
        <mat-radio-group aria-label="Select an option">
            <p>Candidate<mat-radio-button value="1"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="2"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="3"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="4"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="5"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="6"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="7"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="8"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="9"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="10"></mat-radio-button></p>
        </mat-radio-group>
    <h2>Zastępca przewodniczącego</h2>
        <mat-radio-group aria-label="Select an option">
            <p>Candidate<mat-radio-button value="1"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="2"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="3"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="4"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="5"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="6"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="7"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="8"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="9"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="10"></mat-radio-button></p>
        </mat-radio-group>
    <h2>Skarbnik</h2>
        <mat-radio-group aria-label="Select an option">
            <p>Candidate<mat-radio-button value="1"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="2"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="3"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="4"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="5"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="6"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="7"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="8"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="9"></mat-radio-button></p>
            <p>Candidate<mat-radio-button value="10"></mat-radio-button></p>
        </mat-radio-group>
    <button mat-raised-button color="primary" type="submit">Głosuj</button>
    </form>
</div>
