<div id="container">
    <img src="assets/img/icons8-back-90.png" routerLink="../homeworks">
    <h1>Wybierz swoich kandydatów</h1>
    <form action="">
    <h2>Przewodniczący</h2>
    <mat-radio-group aria-label="Select an option">
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
    </mat-radio-group>
    <h2>Zastępca przewodniczącego</h2>
        <mat-radio-group aria-label="Select an option">
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
            <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        </mat-radio-group>
    <h2>Skarbnik</h2>
    <mat-radio-group aria-label="Select an option">
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
        <div class="person"><p>Wierzchosława <br> Roztworowska</p><mat-radio-button value="2" [checked]="false"></mat-radio-button></div>
    </mat-radio-group>
    <button mat-raised-button color="primary" type="submit">Głosuj</button>
    </form>
</div>
