#container{
    padding-bottom: 70px;
    width: 100%;
    z-index: 1;
    height: auto;
    min-height: calc(100% - 150px);
    color: white;
}

h1{
    text-align: center;
    margin-top: 10px;
    width: auto;
    height: auto;
}

h2{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgba(18, 18, 62, 0.595);
}

img:first-child{
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    position: sticky;
}

.person{
    background-color: rgba(55, 55, 96, 0.566);
    width: 46%;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgb(23, 23, 66);
    padding: 1%;
}

p{
    float: left;
    width: auto;
    margin: 0;
    padding-left: 1%;
}

mat-radio-button{
    float: right;
    margin-top: 0.5%;
}

button{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}