<div id="bg">
    <div id="bglogin">
        <h1>Zaloguj się</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Np. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Nieprawidłowy adres email
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email jest <strong>wymagany</strong>
            </mat-error>
            </mat-form-field>
        </form>

    </div>
</div>