#container{
    padding-bottom: 70px;
    width: 100%;
    z-index: 1;
    height: auto;
    min-height: calc(100% - 150px);
}

img:first-child{
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        position: sticky;
}

img{
    width:98%;
    margin:1%;
    height: auto;
}

h1{
    text-align: center;
    margin-top: 10px;
    width: auto;
    height: auto;
    color: white;
}