<div id = "container">
    <div id="gallery">
        <img src="assets/img/icons8-back-90.png" routerLink="../">
        <h1>The Subject</h1>
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
        <img src="assets/img/icons8-back-90.png" alt="">
    </div>
</div>
