#container
{
    padding-bottom: 100px;
}

ol
{
    width: 80%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: whitesmoke;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(7, 29, 64);
    padding: 5px;
    letter-spacing: 2px;
}

li
{
    color: rgb(199, 199, 199);
    font-size: 15px;
    padding: 2px;
    padding-left: 5%;
    background-color: rgb(7, 29, 64, 40%);
    border-radius: 1px;
    border-bottom: 0.5px solid black;
    margin-bottom: 2px;
    margin-right: 5%; 
    letter-spacing: 1px;
}