<div class="box" routerLink="/each-announcement" *ngFor="let announce of announces" (click)="updateId(announce.id)"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="400"
    [matRippleColor]="color">
    <h3>{{announce.title}}</h3>
    <ul>
        <p>{{ announce.content | truncate:50 }}</p>
    </ul>
</div>

<div id = "add" routerLink="/add-announcement"  routerLinkActive="active-add"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="20"
    [matRippleColor]="color">+</div>
