<div id="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Lesson Name
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Lesson Name
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
           <mat-panel-title>
           Lesson Name
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
        <p>subject</p>
    </mat-expansion-panel>
    
    </mat-accordion>
    <div id = "add">+</div>
  </div>