#lesson{
    width: 90%;
    height: auto;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}
#note{
    width: 90%;
    height: auto;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
#container{
    margin:10px;
    color:white;
    padding-bottom: 80px;
}
#add{
    width: 20px;
    height: 20px;
    background-color: black;
    margin-right: 0px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 0;
}
