#treasureur{
    width: 90%;
    height: auto;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}
#note{
    width: 90%;
    height: auto;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
#container{
    margin:10px;
    color:white;
    padding-bottom: 80px;
}
#add{
    color: white;
    width: 20px;
    height: 20px;
    background-color: black;
    float: right;
    text-align: center;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    right: 10px;
    bottom: 80px;
    position: fixed;
    animation: addRotate;
    animation-duration: 5s;

}

.active-add{
    display: none;
}

.lesson{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    background-color: blue;
    border-radius: 10px;
}
h3{
    padding: 10px;
}