<div class="box"><!--Uzupełniaj z bazy-->
    <mat-accordion>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Zbiórka A         21/37 osób      42zł/74zł
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Zbiórka A         21/37 osób      42zł/74zł
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
           <mat-panel-title>
            Zbiórka A         21/37 osób      42zł/74zł
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
        <p>Carlos</p>
    </mat-expansion-panel>

    </mat-accordion>
</div>

<div class="add"><!--dodaj składkę--><!--do ostylowania-->
    +
</div>

<app-navbar></app-navbar>