.box:first-child{
    margin-top: 5%;
}
.box{
    width: 90%;
    height: auto;
    background-color: rgba(7, 58, 71, 0.912);
    margin: auto;
    padding-top: 9px;
    margin-top: 10px;
    padding-bottom: 7px;
    border-radius: 10px;
}

#header{
    color: white;
    background-color: rgba(78, 106, 206, 0.866);
}

h3{
    padding: 5px;
    font-weight: 500;
    margin: auto;
    display: inline-block;
}

#content{
    color: white;
    font-size: large;
    display: block;
}

#title{
    text-align: center;
    font-size: x-large;
}

#date{
    float: right;
}

#content{
    color: white;
    font-size: small;
    margin: 10px;
}