<div id="bgacc">

    <img class="profileimg" src="assets/img/icons8-male-user-96.png" width="100px" height="100px" alt="IkonaProfilu">

    <div class="allinfo">
        <div class="user">Nazwa użytkownika</div> <!--Imie i nazwisko-->
        <div class="firstname"><p class="text">Imię:</p><span>Wierzchosława</span></div> <!--Imie-->
        <div class="lastname"><p class="text">Nazwisko:</p><span>Rostworowska</span></div> <!--Nazwisko-->
        <div class="class"><p class="text">Klasa:</p><span>3 TP</span></div> <!--Klasa-->
        <div class="mail"><p class="text">E-mail:</p><span>anna.trebacz.zst@gmail.com</span></div> <!--Adres e-mail-->
    </div>

    <mat-divider></mat-divider>

    <section>
        <button routerLink="../login" mat-flat-button color="primary">Wyloguj się</button>
    </section>
</div>