<div id="bgacc">

    <img class="profileimg" src="assets/img/icons8-male-user-96.png" width="100px" height="100px" alt="IkonaProfilu">

    <div class="allinfo">
        <div class="user">{{member.name}} {{member.surname}} </div> <!--Imie i nazwisko-->
        
        <div class="class">Klasa:<span>{{classGroup.name}}</span></div> <!--Klasa-->
        <div class="mail">E-mail: <span>{{member.email}}</span></div> <!--Adres e-mail-->
        <div class="mail">Rola: <span>{{role}}</span></div> <!--Adres e-mail-->
    </div>

    <mat-divider></mat-divider>

    <section>
        <button routerLink="../login" mat-flat-button color="primary">Wyloguj się</button>
    </section>
</div>