<div id="bgacc">

    <img class="profileimg" src="assets/img/icons8-male-user-96.png" width="100px" height="100px" alt="IkonaProfilu">

    <div class="allinfo">
        <div class="user">Nazwa użytkownika</div>
        <div class="firstname">Imię:<span>Wierzchosława</span></div>
        <div class="lastname">Nazwisko:<span>Rostworowska</span></div>
        <div class="class">Klasa:<span>3 TP</span></div>
        <div class="mail">E-mail: <span>anna.trebacz.zst@gmail.com</span></div>
    </div>
</div>