<div id="container">
    <div class="box" routerLink="announcements"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="400"
        [matRippleColor]="color">
        <h3>Ostatnie ogłoszenie</h3>
        <p>{{announcement.title}}</p>
    </div>

    <div class="box" routerLink="fundraisers"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="400"
        [matRippleColor]="color">
        <h3>Ostatnie zbiórka</h3>
        <p>Zbiórka/Zbiórka</p>
    </div>
        

    <div class="box">
        <h3>Samorząd klasowy</h3>
        <p>Przewodniczący: John Doe</p>
        <p>Zastępca przewodniczącego: John Doe</p>
        <p>Skarbnik: John Doe</p>
    </div>
</div>