#container{
    padding-bottom: 80px;
}
.box:first-child{
    margin-top: 5%;
}
.box{
    width: 90%;
    height: auto;
    background-color: rgb(0, 29, 74, 70%);
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 9px;
    margin-top: 10px;
    padding-bottom: 7px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 1px 15px 0px rgb(0, 10, 116);
    -moz-box-shadow: 0px 1px 15px 0px rgb(0, 10, 116);
    box-shadow: 0px 1px 15px 0px rgb(0, 10, 116);
}

h3{
    color: rgb(203, 203, 203);
    background-color: #0c1f3d;
    height: auto;
    padding: 5px;
    font-size: x-large;
    font-weight: 500;
    display: block;
    margin: auto;
}

p{
    border-top: 1px black solid;
    padding-top: 10px;
    color: white;
    font-size: large;
    display: block;
}
