<div id = 'box'>
    <div routerLink="announcements">
        <h3>Ogloszenia</h3>
        <ul>
            <li>Ogloszenia/Ogłoszenia</li>
            <li>Ogloszenia/Ogłoszenia</li>
        </ul>
    </div>

    <div routerLink="fundraisers">
        <h3>Trwające zbiórki</h3>
        <ul>
            <li>Ogloszenia/Ogłoszenia</li>
            <li>Ogloszenia/Ogłoszenia</li>
        </ul>
    </div>
    
    <div routerLink="trips">
        <h3>Wycieczki</h3>
        <ul>
            <li>Ogloszenia/Ogłoszenia</li>
            <li>Ogloszenia/Ogłoszenia</li>
        </ul>
    </div>
</div>

<app-navbar></app-navbar>