<div id="container">
    <div class="box" routerLink="announcements"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="400"
        [matRippleColor]="color">
        <h3>Ogloszenia</h3>
        <p>Ogloszenia/Ogłoszenia</p>
        <p>Ogloszenia/Ogłoszenia</p>
    </div>

    <div class="box" routerLink="fundraisers"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="400"
        [matRippleColor]="color">
        <h3>Trwające zbiórki</h3>
        <p>Ogloszenia/Ogłoszenia</p>
        <p>Ogloszenia/Ogłoszenia</p>
    </div>
        
    <div class="box" routerLink="trips"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="400"
        [matRippleColor]="color">
        <h3>Wycieczki</h3>
        <p>Ogloszenia/Ogłoszenia</p>
        <p>Ogloszenia/Ogłoszenia</p>
    </div>

    <div class="box">
        <h3>Samorząd klasowy</h3>
        <p>Przewodniczący: John Doe</p>
        <p>Zastępca przewodniczącego: John Doe</p>
        <p>Skarbnik: John Doe</p>
    </div>
</div>