.container{
    padding-bottom: 80px;
}
.box:first-child{
    margin-top: 5%;
}
.box{
    width: 90%;
    height: auto;
    background-color: rgba(7, 58, 71, 0.912);
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 9px;
    margin-top: 10px;
    padding-bottom: 7px;
    border-radius: 10px;
}

h3{
    color: white;
    background-color: rgba(78, 106, 206, 0.866);
    height: auto;
    padding: 2px;
    font-size: x-large;
    font-weight: 500;
    display: block;
    margin: auto;
}

li{
    color: white;
    font-size: large;
    display: block;
}