<div id="container">
<div id = "add-note">
    <img src="assets/img/icons8-back-90.png" routerLink="../"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    
    <h2>Lekcja</h2>
    <form action="" method="get">
    <input type="text" name="subject" id="subject" placeholder="Temat" required>
    <h2>Zdjęcia</h2>
    <input type="file" id="photos" name="photos" accept="image/png, image/gif, image/jpeg" multiple>
    <label for="photos">
        <p>Wybierz zdjęcia</p>
    </label>
    <input type="submit" value="Dodaj"></form>
</div></div>