<div id="container">
<div id = "add-note">
    <img src="assets/img/icons8-back-90.png" routerLink="../"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    
    <h2>Dodaj notatkę</h2>
    <form action="" method="get">           
        <mat-form-field class="formfield">
            <mat-label>Temat</mat-label>
            <input matInput>
          </mat-form-field>
          <input type="file" id="file" accept="image/png, image/jpeg" multiple><br>
          <label for="file">Wybierz zdjęcia</label>
        <br>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
      </form>
</div></div>