<div id = "container">
    <img src="assets/img/icons8-back-90.png" routerLink="../"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    <h2>Temat lekcji</h2>
    <input type="text" name="subject" id="subject" placeholder="Temat">
    <h2>Zdjęcia</h2>
    <input type="file" id="file" accept="image/png, image/gif, image/jpeg" multiple>
    <label for="file">
        <p>Wybierz zdjęcia</p>
    </label>
    <input type="button" value="Dodaj">
</div>