<div id = "container">
    <img src="assets/img/icons8-back-90.png" routerLink="../"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="10"
    [matRippleColor]="color">
    <h2>Zbiórka</h2>
    <form action="" method="get">
    <input type="text" name="title" id="title" placeholder="Tytuł" required><br>
    
    <input type="text" name="cost" id="cost" placeholder="Kwota na osobę" required><br>
    Termin zakończenia zbiórki <input type="date" name="data" id="data" required><br>
    <input type="submit" value="Dodaj"></form>
</div>