html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(90deg, rgba(0,0,109,0.969152626871061) 0%, rgb(0, 58, 173) 65%, rgb(24, 3, 147) 100%);
    padding-bottom: 100;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.box{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    background-color: rgba(55, 55, 184, 0.616);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgb(38, 38, 116);
}