html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("assets/img/bg.png");
    background-size: cover;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}