<router-outlet></router-outlet>
<div id="container">
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
    <div class="box" routerLink="../homework">
        <h3>Matematyka 4.53b</h3>
        <h4>07.11.2023</h4>
    </div>
</div>
  <div id = "add" routerLink="addHomework" routerLinkActive="active-add"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="20"
    [matRippleColor]="color">+</div>