<router-outlet></router-outlet>
<div id="container">
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
    <div class="lesson" routerLink="homework">
        <h3>homework</h3>
    </div>
</div>
  <div id = "add" routerLink="addHomework" routerLinkActive="active-add"
    matRipple
    [matRippleCentered]="true"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="20"
    [matRippleColor]="color">+</div>