<div id="container" >
        <h3>Powiadomienia</h3>
        <hr><hr>
        <p>Powiadomienia o zbiórkach</p><mat-checkbox formControlName="fundraisers" [color] = "checkbox"></mat-checkbox><hr>
        <p>Powiadomienia o ogłoszeniach</p><mat-checkbox formControlName="announcements" [color] = "checkbox"></mat-checkbox><hr>
        <p>Powiadomienia o notatkach</p><mat-checkbox formControlName="notes" [color] = "checkbox"></mat-checkbox><hr>
        <p>Powiadomienia o zadaniach</p><mat-checkbox formControlName="homeworks" [color] = "checkbox"></mat-checkbox><hr>

        <footer>
                Icons by <a>Icons8.com</a>
        </footer>
</div>
