<div class="box" >
    
    <h3>Ustawienia</h3>
    <ul>
        <mat-accordion >
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Powiadomienia
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Powiadomienia z czatu
                    </mat-panel-title>
                </mat-expansion-panel-header>
                 Włącz powiadomienia <input type="radio" name="chat" id="chat" checked><br>
                 Wycisz na 15 min <input type="radio" name="chat" id="chat"><br>
                 Wycisz na 30 min <input type="radio" name="chat" id="chat"><br>
                 Wycisz <input type="radio" name="chat" id="chat">
                
         
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Powiadomienia o zbiórkach
                    </mat-panel-title>
                </mat-expansion-panel-header>
                 Włączone <input type="radio" name="fundraisers" id="fundraisers" checked><br>
                 Wyłączone <input type="radio" name="fundraisers" id="fundraisers"><br>
                 
                
         
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Powiadomienia o ogłoszeniach
                    </mat-panel-title>
                </mat-expansion-panel-header>
                 Włączone <input type="radio" name="advertisements" id="advertisements" checked><br>
                 Wyłączone <input type="radio" name="advertisements" id="advertisements"><br>
                 
                
         
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion >
                <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Powiadomienia o ankietach
                    </mat-panel-title>
                </mat-expansion-panel-header>
                 Włączone <input type="radio" name="questionnaire" id="questionnaire" checked><br>
                 Wyłączone <input type="radio" name="questionnaire" id="questionnaire"><br>
                 
                
         
                </mat-expansion-panel>
            </mat-accordion>
            
     
            </mat-expansion-panel>
        </mat-accordion>
    </ul>
</div>
<!--<img src="assets/img/icons8-notification-96.png" alt="notifications" routerLink="notifications">-->
<app-navbar></app-navbar>