<div id="container" >
        <h3>Powiadomienia</h3>
        <hr><hr>
        <label><div><p>Powiadomienia o zbiórkach</p><mat-checkbox formControlName="fundraisers" [color] = "checkbox"></mat-checkbox></div></label><hr>
        <label><div><p>Powiadomienia o ogłoszeniach</p><mat-checkbox formControlName="announcements" [color] = "checkbox"></mat-checkbox></div></label><hr>
        <label><div><p>Powiadomienia o notatkach</p><mat-checkbox formControlName="notes" [color] = "checkbox"></mat-checkbox></div></label><hr>
        <label><div><p>Powiadomienia o zadaniach</p><mat-checkbox formControlName="homeworks" [color] = "checkbox"></mat-checkbox></div></label><hr>

        <footer>
                <p>Icons by <a href="" (click)="openExternalLink('https://Icons8.com')">Icons8.com</a></p>
        </footer>
</div>
